@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Curve to the left */
.curved-image-left {
  clip-path: ellipse(100% 70% at 0% 50%);
  object-fit: cover;
}

/* Curve to the right */
.curved-image-right {
  clip-path: ellipse(100% 70% at 100% 50%);
  object-fit: cover;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 0.6s ease-out forwards;
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 0.6s ease-out forwards;
}
