@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Curve to the left */
.curved-image-left {
  clip-path: ellipse(100% 70% at 0% 50%);
  object-fit: cover;
}

/* Curve to the right */
.curved-image-right {
  clip-path: ellipse(100% 70% at 100% 50%);
  object-fit: cover;
}


